/**
 * GoodVibesFilter | main app style
 */

html,
body,
#root,
.container {
    height: 100%;
}

.center-content {
    display: flex;
}

.content-box {
    max-width: 720px;

    margin-left: auto;
    margin-right: auto;

    margin-top: auto;
    margin-bottom: auto;

    padding-top: 24px;
    padding-bottom: 24px;
}

.spotify-login-area {
    margin-top: 24px;
}

.playlist-select-area,
.playlist-input-area {
    max-width: 540px;

    margin-left: auto;
    margin-right: auto;
}

.playlist-select-area label,
.playlist-input-area label {
    margin-bottom: 6px;
}

.playlist-select-area {
    margin-top: 32px;
}

.playlist-input-area {
    margin-top: 16px;
}

.action-description {
    margin-top: 32px;
}

.footer-sep {
    margin-top: 32px;
}

$success-toast-color: #3ec94f;
$error-toast-color: #eb3d68;

.cst-success-toast {
    color: $success-toast-color;

    padding: 16px;
}

.cst-success-toast .Toastify__progress-bar--default {
    background: $success-toast-color;
}

.cst-error-toast {
    color: $error-toast-color;

    padding: 16px;
}

.cst-error-toast .Toastify__progress-bar--default {
    background: $error-toast-color;
}
