/**
 * GoodVibesFilter | main app style
 */

html, body, #root, .container {
    height: 100%;
}

.center-content {
    display: flex;
}

.content-box {
    margin-top: auto;
    margin-bottom: auto;

    padding-top: 24px;
    padding-bottom: 24px;
}

.main-title {
    font-size: 10vw;
    font-weight: 700;
}

@media (min-width: 992px) {
    .main-title {
        font-size: 72px;
        font-weight: 700;
    }
}

.spotify-login-area {
    margin-top: 24px;
}

.playlist-select-area,
.playlist-input-area {
    max-width: 576px;

    margin-left: auto;
    margin-right: auto;
}

.playlist-select-area {
    margin-top: 32px;
}

.playlist-input-area {
    margin-top: 16px;
}

.action-description {
    margin-top: 32px;
}

.footer-sep {
    margin-top: 32px;
}

$success-toast-color: #3ec94f;
$error-toast-color: #eb3d68;

.cst-success-toast {
    color: $success-toast-color;

    padding: 16px;
}

.cst-success-toast .Toastify__progress-bar--default {
    background: $success-toast-color;
}

.cst-error-toast {
    color: $error-toast-color;

    padding: 16px;
}

.cst-error-toast .Toastify__progress-bar--default {
    background: $error-toast-color;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0e0e0e;
        color: white;
    }

    hr {
        border-color: #acacac;
    }
}
